<section>
  <form name="myform"
        ng-submit="login()"
        novalidate>

    <div class="textintro">
      <h1 ng-show="message">{{ message }}</h1>
      <h3>LOGIN</h3>
    </div>

    <fieldset>
      <input type ="email" name="email" placeholder="Email"
             ng-model="user.email" ng-required="true">
      <div class="alert">
         <span class="alert-info" ng-show="myform.email.$error.required">require email!</span>
         <span class="alert-danger" ng-show="myform.email.$error.email">invalid email!</span>
         <span class="alert-success" ng-show="myform.email.$error.success">correct email!</span>
      </div>

      <input type ="password" name="password" placeholder="Password"
              ng-model="user.password" ng-required="true">
      <div class="alert">
        <span class="alert-info" ng-show="myform.password.$invalid && myform.email.$touched">password required</span>
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary"
            ng-disabled="myform.$invalid">
            LOGIN
    </button>

    <p>or <a ui-sref="register">register </a></p>
  </form>

  <i>Email typed is: {{ myform.email.$viewValue }} </i>
  <br>
  <i>password typed is: {{ myform.password.$viewValue }} </i>
  <div id="firebaseui-auth-container">firebutt</div>

  <form ng-submit="fblogin()">
    <button class="btn">Facebook Login</button>
    <h1 ng-show="message">{{ message }}</h1>
  </form>
</section>
